<nav class="border-set">
  <div class="">
    <div class="header-container">
      <div class=" header-leftaside border-set">test</div>
      <div class=" header-main border-set">
        <ul class="">
          <li class="active"><a class="text-color" href="#">Dashboard</a></li>
          <li><a class="text-color" href="#">My Finincial Info</a></li>
          <li><a class="text-color" href="#">Market Place</a></li>
          <li><a class="text-color" href="#">My report</a></li>
          <li><a class="text-color" href="#">Tools</a></li>
        </ul>
      </div>
      <div class="header-rightaside border-set"><app-search></app-search></div>
    </div>
  </div>
</nav>
