.header-container {
  background-color: #96151d;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  ul {
    li {
      display: inline-block;
    }
  }
  .border-set {
    border: 1px solid;
  }
  .header-leftaside {
    flex: 0.2;
  }
  .header-main {
    flex: 1;
  }
  .header-rightaside {
    flex: 0.3;
  }
  .text-color {
    color: white;
  }
}
