<div>
  <div class="investment-header border-set">
    <div class="investment-left-section">
      <ul>
        <li routerLink="/all-time"><a>All Time</a></li>
        <li routerLink="/this-year"><a>This year</a></li>
        <li routerLink="/this-month"><a>This month</a></li>
        <li routerLink="/this-week"><a>This week</a></li>
      </ul>
    </div>
    <div class="investment-right-section">
      select date range
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
